<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeStore</title>
</head>
<body>
      <nav class="bg-gray-800 p-4">
        <div style="height: 14px;" class="container mx-auto flex justify-between items-center">
            <a href="{%url 'index'%}" class="text-white text-lg font-bold">ShoeStore</a>
            <div class="hidden md:flex space-x-4">
                <a href="{%url 'index'%}" class="text-gray-300 hover:text-white">Home</a> &emsp;

                <select id="categorySelect" name="category" onchange="getcat(this)" class="bg-gray-700 text-gray-300 border border-gray-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5">
                  <option value="">All Category</option>
                  <option value="sports">Sports</option>
                  <option value="casual">Casual</option>
                  <option value="formal">Formal</option>
              </select>

                <a href="{%url 'mycart'%}" class="text-gray-300 hover:text-white">My-Cart</a>&emsp;
                <a href="{%url 'orders'%}" class="text-gray-300 hover:text-white">My-Orders</a>&emsp;
                <i style="font-size: xx-large;color: aliceblue;" class="fa-solid fa-user"></i>
                <a  class="text-gray-300 hover:text-white">{{request.user}}</a>
                <p href="{%url 'signout'%}" type="button"
                class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">Log-Out</p>
            </div>
            <div class="md:hidden">
                <button class="text-gray-300 focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </nav>

      {%if messages%}
      {%for m in messages%}
      <div class="max-w-sm mx-auto mt-10">
        <div id="alert-box" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">!</strong>
            <span class="block sm:inline">{{m}}.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg id="close-button" class="fill-current h-6 w-6 text-red-500 cursor-pointer" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
    </div>

      {%endfor%}
      {%endif%}

      {%block main_block%}
      {%endblock%}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      const btn = document.querySelector('button');
      const menu = document.querySelector('div.hidden');
  
      btn.addEventListener('click', () => {
          menu.classList.toggle('hidden');
      });
  </script>
  <script>
    function getcat(selectcat){
    var category=selectcat.value
    window.location.href = window.location.pathname + `?cat=${category}`
    
  }

  function setSelectBoxValue() {
        const urlParams = new URLSearchParams(window.location.search);
        const category = urlParams.get('cat');
        if (category) {
            document.getElementById('categorySelect').value = category;
        }
    }

    window.onload = setSelectBoxValue;

    document.getElementById('close-button').addEventListener('click', function() {
            document.getElementById('alert-box').classList.add('hidden');
        });

  </script>


</html>