{%extends 'store/base.html'%}
{%block main_block%}
<div class="mx-auto grid w-full max-w-7xl items-center space-y-4 px-2 py-10 md:grid-cols-2 md:gap-6 md:space-y-0 lg:grid-cols-4">
  {%for p in product%}
  <div class="rounded-md border">
    <img
      src="{{p.thumbnail.url}}"
      alt="Laptop"
      class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
    />
    <div class="p-4">
      <h1 class="inline-flex items-center text-lg font-semibold">
        {{p.title}}
      </h1> <br>
      Reviews:{{p.review_count}} &emsp;
        {%if p.average_rating%}
        Rating:{{p.average_rating|floatformat:2}}
        {%else%}
        0
        {%endif%}
      <div style="height: 5px;padding: 0%;margin: 0%;" class="mt-5 flex items-center space-x-2">
        <span class="block text-sm font-semibold">Size : </span>
        {%for s in p.size_objects.all%}
        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
          {{s.number}}
        </span>
        {%endfor%}
      </div>

      <div style="padding: 0%;margin: 0%; height: 5px;" class="mt-5 flex items-center space-x-2">
        <span class="block text-sm font-semibold">Colors : </span>
        {%for c in p.colors.all%}
        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
          {{c.color_variant}}
        </span>
        {%endfor%}
      </div>

      <a href="{%url 'product-details' p.id%}">
        <button
        type="button"
        class="mt-4 w-full rounded-sm bg-black px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
      >
        View More
      </button>
      </a>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%}