<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div style="padding-top: 70px;" class="col-8 mt-5 d-flex">
                <div>
                    <img class="px-2" style="height: 320px;" src="{%static 'images/login-img.png'%}" alt="">
                </div>
                <form class="form-control" action="" method="post">
                    <h4 align="center">LOG IN</h4>
                    {%csrf_token%}
                    {{form}}
                    <button class="btn btn-info mt-3">LOGIN</button><br>
                    New User ? <a href="{%url 'register'%}">SignUp Now</a>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    
</body>


</html>